.steam_button_img {
    cursor: pointer;
}
.steam_button_img:hover {
    opacity: 0.8;
}

.register_page_container {

    padding: 10rem 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

