.footer_container {
    background-color: #222222;
    height: 140px;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 2rem;
    justify-content: space-between;
}

.links_container {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.footer_nav_links {
    margin-bottom: 2rem;
    background-color: red;
}

.footer_nav_links a{
    text-decoration: none;
    color: white;
}
.footer_nav_links a:hover {
    opacity: 0.8;
}