.left_and_right_ui {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
}


.header {
    display: flex;
    text-align: left;
    gap: 1rem;
    flex-direction: column;
}

.header img {
    width: 6rem;
    height: 6rem;
    border-radius: 100vw;
    border: 2px solid white;

}


/* https://stackoverflow.com/questions/43983062/how-to-make-text-in-meter-tag-visible-over-the-meter */
meter {
    cursor: pointer;
    border: none;
    
}

meter::-webkit-meter-optimum-value {
    background: #fa9806; /* Green */
}

meter::after {
    content : attr(data-content-text);
    top:-44px;
    position:relative;
    color: black;
}