.navbar {
    display: flex;
    /* background-color: red; */
    height: 70px;
    justify-content: space-between;
    padding: 0rem 0.5rem;
    align-items: center;
    text-decoration: none;
}

.navbar a {
    text-decoration: none;
    color: black;
}

.navbar a i {
    color: gray;
    font-size: small;
}

.navbar li {
    list-style-type: none;
}


.navbar img {
    width: 9rem;
    pointer-events: none;
}

.menu_container {
    display: flex;
    gap: 1rem;
}

.nav-link .bi-chevron-down {
    transition: transform 0.2s ease-in-out;
}

.nav-item.dropdown.show .bi-chevron-down {
    transform: rotate(180deg); /* Rotate when dropdown is open */
}

.nav_link.dropdown-toggle::after {
    display: none !important; /* Hides the default dropdown icon */
}